
<div class="FormContainer">
   
   
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <td>BirthDate</td>
                <td>City</td>
                <td>Country</td>
                <td>First Name</td>
                <td>Gender</td>
                <td>Last Name</td>
                <td>Middle Name</td>
                <td>State</td>
                <td>Zip</td>
                <td>Edit</td>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let user of userData">
                <td>{{user.birthdate}}</td>
                <td>{{user.city}}</td>
                <td>{{user.country}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.middlename}}</td>
                <td>{{user.state}}</td>
                <td>{{user.zip}}</td>
                <td style="width: 10vw;"><button class="Btn" (click)="editInfo(user)" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit 
                    <svg class="svg" viewBox="0 0 512 512">
                      <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path></svg>
                  </button></td>
    
            </tr>
        </tbody>
        
        

    </table>
</div>


<!-- Modal for Edit Info -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Form Edit</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                  <label for="firstname" class="form-label col-6">First Name:</label>
                  <input id="firstname" class="col-6" formControlName="firstname" />
                </div>
                <div class="mb-3">
                  <label for="middlename" class="form-label col-6">Middle Name:</label>
                  <input id="middlename" class="col-6"  formControlName="middlename" />
                </div>
                <div class="mb-3">
                  <label for="lastname" class="form-label col-6">Last Name:</label>
                  <input id="lastname" class="col-6"  formControlName="lastname" />
                </div>
                <div class="mb-3">
                  <label for="gender" class="form-label col-6">Gender:</label>
                  <select id="gender" class="col-6" formControlName="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="birthdate" class="form-label col-6">Birthdate:</label>
                  <input id="birthdate" class="col-6" type="date"  formControlName="birthdate" />
                </div>
                <div class="mb-3">
                  <label for="city" class="form-label col-6">City:</label>
                  <input id="city" class="col-6"  formControlName="city" />
                </div>
                <div class="mb-3">
                  <label for="state" class="form-label col-6">State:</label>
                  <input id="state" class="col-6"  formControlName="state" />
                </div>
                <div class="mb-3">
                  <label for="country"  class="form-label col-6">Country:</label>
                  <input id="country" class="col-6"  formControlName="country" />
                </div>
                <div class="mb-3">
                  <label for="zip" class="form-label col-6">Zip:</label>
                  <input class="input" id="zip" class="col-6"  formControlName="zip" />
                </div>
                <button class="btn btn-secondary" type="submit" data-bs-dismiss="modal">Submit</button>
              </form>
        </div>
       
      </div>
    </div>
  </div>

