<!-- <div class="container">
    <div class="card">
        <div>
            <label for="">Username</label><br>
            <input type="text" placeholder="Enter username" [(ngModel)]="userName" >
        </div>
       <div>
        <label for="Password" >Password</label> <br>
        <input type="Password" placeholder="Enter Password" [(ngModel)]="passWord">
       </div>
        <button class="btn btn-primary" (click)="submitData()">Submit</button>
    </div>
</div>
 -->
 <div class="Logincontainer">
    <form class="form">
        <div class="title">Welcome,<br><span>Enter Username:ShubhamK <br>Password:Tgc&#64;1234</span></div>
        <input class="input" name="email" placeholder="Email" type="email" [(ngModel)]="userName">
        <input class="input" name="password" placeholder="Password" type="password" [(ngModel)]="passWord">
      
        <button class="button-confirm"  (click)="submitData()">Let`s go →</button>
      </form>
 </div>
 